@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #f5f5dc;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 600;
    color: #ee2b48;
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
}

.titulo__destaque{
    color: #ee2b48;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__redes{
    justify-content: center;
    display: flex;
    gap: 16px;
    border: 2px solid #ee2b48;
    width: 378px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:  #f5f5dc;
    font-family: 'Courier New', Courier, monospace;
}

.apresentacao__links__redes:hover{
    background-color: #050505;
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 12px;
    color: #000000;
    background-color: #ee2b48;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__conteudo__titulo__curriculo{
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
    color: #ee2b48;
}

.apresentacao__conteudo__texto__curriculum a{
    text-decoration: none;
    color: #ee2b48;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}

.apresentacao__conteudo__texto__curriculum{
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}